.container {
	display: grid;
	place-content: center;
}

.transaction-container {
	display: grid;
	justify-content: center;
	gap: 0.25rem;
	padding: 2rem 1rem;
	max-width: 800px;
	position: relative;
}
.transactions {
	display: flex;
	justify-content: space-between;
	background-color: white;
	width: 90vw;
	max-width: 800px;
	padding: 0.5rem 1.25rem;
	color: rgb(83, 81, 81);
	border-radius: 0.35rem;
}
.transaction-container header {
	display: grid;
}
.transaction-container header h2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.transaction-container header select {
	height: 3rem;
	font-weight: bold;
	max-width: 400px;
	border-radius: 0.5rem;
}
@media (max-width: 768px) {
	h2 {
		font-size: 1.25rem;
	}
	h3 {
		font-size: 1rem;
	}
}
