@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.App {
	background: rgb(2, 0, 36);
	background: linear-gradient(
			45deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(6, 106, 236, 1) 0%,
			rgba(10, 85, 225, 1) 0%,
			rgba(14, 210, 235, 1) 100%
		)
		no-repeat;
	background-size: cover;
	min-height: 100vh;
}
